#Ignore everything
/*

#Except for my project
!.gitignore
!PartitionareaIntervalelor/

#Also ignore some stuff inside
PartitionareaIntervalelor/bin/
PartitionareaIntervalelor/obj/
PartitionareaIntervalelor/*.cbp
PartitionareaIntervalelor/*.layout
